.nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(241, 144, 144, 0.436);
  padding: 10px;
}
.hero{
  max-width: 1300px;
  margin: 10px auto;
  padding: 31px 10px;
}
.sample{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;

}
.sample img{
  border: 1px solid gray;
  border-radius: 10px;
}
.content{
  /* padding: 40px 0; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}
/* .about{ */
#about{
  padding: 60px 0;
  text-align: center;
}
.card{
  padding: 10px;
  text-align: center;
  border: 1px solid gray;
}
/* .project{ */
#product{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}