@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Nunito:wght@500;600;700&family=Poppins:wght@500&display=swap');
body{
  font-family: "Poppins", serif;
}
.nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(241, 144, 144, 0.436);
  padding: 10px;
  z-index:100
}
.hero{
  margin: 10px auto;
}
/* .sample{ */
#samples{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin: 20px 0;

}
#samples img{
  border: 1px solid gray;
  border-radius: 10px;
}
.content{
  /* padding: 40px 0; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  padding: 45px 10px;
}
/* .about{ */
#about{
  padding: 60px 0;
  text-align: center;
}
.card{
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1) ;
}
/* .project{ */
#product{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
#contact{
  background-color: #000;
  padding: 10px;
}





.hero {
  display: flex; 
  overflow: hidden; 
}

#left {
  flex: 1; 
  background-color: #f44336; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: white;
  position: relative;
}

#left button {
  margin-top: 20px;
  padding: 8px 30px;
  border-radius: 5px;
  background-color: #cbffff;
  border: none;
  color: rgb(223, 65, 65);
  font-weight: 600;
}

#left button:hover {
  background-color: rgb(176, 173, 180);
}

#left #btm {
  position: absolute;
  background-color: #ffffffc3;
  left: 0;
  bottom: 3%;
  width: 90%;
  padding: 20px;
  color: black;
}

#left h3 {
  color: red;
  font-size: 20px;
}
#left h1 {
  font-size: 50px;
}

#left p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  width: 80%;
}


#right {
  flex: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Center Content in Right Section */
#right #cntr {
  position: absolute;
  left: 35%;
  /* top: 20%; */
  top: 10%;
  width: 60%;
}
#cntr h1 {
  font-size: 50px;
  color: rgb(255, 0, 0);
}

#cntr h1 span {
  font-weight: 300;
  color: black;
}

#cntr h2 {
  font-weight: 400;
  color: black;
  margin-bottom: 20px;
}

#cntr h2 span {
  font-weight: 800;
}

#cntr p {
  font-size: 14px;
  width: 80%;
  line-height: 1.8;
  margin-bottom: 20px;
}

#btns .a{
  background-color: rgba(199, 199, 199, 0.913);
  color: #ff0000;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
}
#btns .av{
  background-color: red;
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column; 
  }

  #right #cntr {
    left: 10%; 
    width: 80%;
  }
}
