@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Nunito:wght@500;600;700&family=Poppins:wght@500&display=swap');
body{
  font-family: "Poppins", serif;
}
.nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(241, 144, 144, 0.436);
  padding: 10px;
  z-index:100
}
.hero{
  margin: 10px auto;
  /* padding: 31px 10px; */
}
.sample{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;

}
.sample img{
  border: 1px solid gray;
  border-radius: 10px;
}
.content{
  /* padding: 40px 0; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  padding: 45px 10px;
}
/* .about{ */
#about{
  padding: 60px 0;
  text-align: center;
}
.card{
  padding: 10px;
  text-align: center;
  /* border: 1px solid gray; */
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1) ;
}
/* .project{ */
#product{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
#contact{
  background-color: #000;
  padding: 10px;
}